name: update

permissions:
  contents: read

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
    inputs:
      run-id:
        description: 'GHA docs workflow run ID'
        required: true
        type: string
      push:
        description: 'Push'
        required: true
        default: false
        type: boolean

jobs:

  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:

    - uses: step-security/harden-runner@v2
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@v5

    - name: Download documentation artifact
      run: |
        gh run download \
           --repo mpi4py/mpi4py \
           --name mpi4py-docs \
           ${{ inputs.run-id }}
      env:
        GITHUB_TOKEN: ${{ github.token }}
      working-directory: mpi4py

    - name: Update documentation contents
      run: |
        # unarchive
        docdir=mpi4py-docs
        unzip -q $docdir.zip
        mv $docdir/version .
        version=$(cat version)
        test ! -d $version
        mv $docdir $version
        rm -f stable
        ln -sf $version stable
      working-directory: mpi4py

    - name: Commit changes
      run: |
        # git add + commit
        git config user.name  "$(git log -1 --pretty=format:%an)"
        git config user.email "$(git log -1 --pretty=format:%ae)"
        version=$(cat version)
        git add $version stable
        git commit -m $version
      working-directory: mpi4py

    - name: Show changes
      run:  git show --stat

    - name: Push changes
      if:   ${{ inputs.push }}
      run:  git push
